/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.container {
  margin-top: 15px;
  padding: 15px;
}

.todo-form {
  margin-bottom: 20px;
}

.collection {
  margin-bottom: 0;
  border: none;

  .collection-item {
    margin-bottom: 20px;
    border: 1px solid #dadada;

    &:last-child {
      border: 1px solid #dadada;
    }
  }

  input {
    width: auto;
  }

  .material-icons {
    color: #26a69a;
    &:hover {
      cursor: pointer;
    }
  }
}