/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.container {
  margin-top: 15px;
  padding: 15px;
}

.main-title {
  color: #009688;
  font-size: 2rem;
}

.todo-form {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    display: flex;
    button {
      margin: 5px;
    }
  }
}

.collection {
  margin-bottom: 0;
  border: none;

  .collection-item {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #dadada;

    &:last-child {
      border: 1px solid #dadada;
    }
  }

  input {
    width: calc(100% - 70px) !important;
  }

  .material-icons {
    color: #26a69a;
    line-height: 3rem;

    &:hover {
      cursor: pointer;
    }

    &.done {
      margin-right: 5px;
    }
  }
}

.filters-group {
  display: flex;

  .active button {
    border: 1px solid #fff;
  }

  li {
    padding: 5px 14px;
  }
}

.task-done input {
  text-decoration: line-through;
}

.collection .hidden {
  display: none;
}